{% extends 'layout.html' %}

{% load static %}

{% block page_title %}
    About Html
{% endblock %}

{% block css_files %}
    <link rel="stylesheet" href="{% static 'ticaretSitesi/css/style.css' %}">
{% endblock %}

    {% block content %}

    <div>
        <h1>
            This website using for  E-Commerce 
        </h1>
        <h2>
            Salih Mehmet İnce
                and 
            Hamza Kale are creaters this website
        </h2><br><h2>For Contact: salih.ince@ogr.dpu.edu.tr | hamza.kale0@ogr.dpu.edu.tr</h2>
    </div>
    
    
    {% endblock content %}


