{% extends 'layout.html' %}

{% load static %}

{% block page_title %}
    E-Commarce Homepage
{% endblock %}

{% block css_files %}
    <link rel="stylesheet" href="{% static 'ticaretSitesi/css/style.css' %}">
{% endblock %}

    {% block content %}
    <style>

    </style>
        
    <div class="container mt-5">
        

                <div class="col-12">
                    {% if products|length == 0 %}
                        <div class="alert alert-warning">Kurs Bulunamadı.</div>
                    {% else %}
                        <div class="row">

                            {% for product in products %}
                                <div class="col-4 ">
                                    {% include 'ticaretSitesi/partials/_product.html' %}
                                </div>
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>
            </ul>
        
    </div>

    {% endblock content %}


