{% extends 'layout.html' %}

{% load static %}

{% block page_title %}
    E-Commarce Homepage
{% endblock %}

{% block css_files %}
    <link rel="stylesheet" href="{% static '/css/style.css' %}">
{% endblock %}

{% block content %}
    <!--<input type="button" value="Sign Up" ondblclick="">-->
    <div class="row">
        <div class="columnfor4">
            <img class="imgclass" src="{% static 'ticaretSitesi/img/computer1.png' %}" alt="" >
            <p>
                
            </p>
            <p>
                
            </p>
        </div>
        <div class="columnfor4">
            <img class="imgclass" src="{% static 'ticaretSitesi/img/computer2.png' %}" alt="" >
            <p>
                
            </p>
            <p>
                
            </p>
        </div>
        <div class="columnfor4">
            <img class="imgclass" src="{% static 'ticaretSitesi/img/computer3.png' %}" alt="" >
            <p>
                
            </p>
            <p>
                
            </p>
        </div>
        <div class="columnfor4">
            <img class="imgclass" src="{% static 'ticaretSitesi/img/computer1.png' %}" alt="" >
            <p>
                
            </p>
            <p>
                
            </p>
        </div>
    </div>
{% endblock content %}