{% extends 'layout.html' %}

{% load static %}

{% block page_title %}
    E-Commarce Homepage
{% endblock %}

{% block css_files %}
    <link rel="stylesheet" href="{% static 'ticaretSitesi/css/style.css' %}">
{% endblock %}

    {% block content %}

   
    {% include 'partials/_profile.html'%}
    
    {% include 'partials/_signup.html' %}
    
    
    <style>
        .cok-satan{
            text-align:center;
            font-size:25px;
            background-color:white;
            width:100%;
            height:50px;
            color:purple;
            border:3px solid purple;
            
            border-radius:12px;
        }
    </style>
    <div class="cok-satan">
        
        Çok satan ürünler
    </div>

    <div class="container mt-5">
                <div class="col-12">
                    {% if products|length == 0 %}
                        <div class="alert alert-warning">No Products</div>
                    {% else %}
                        <div class="row">
                            {% for product in products %}
                                <div class="col-4 ">
                                    {% include 'ticaretSitesi/partials/_product.html' %}
                                </div>
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>
    </div>

    <div class="cok-satan">
        Ucuz Ürünler
    </div>

    <div class="container mt-5">
        <div class="col-12">
            {% if lowprices|length == 0 %}
                <div class="alert alert-warning">No Product</div>
            {% else %}
                <div class="row">
                    {% for lowprice in lowprices %}
                        <div class="col-4 ">
                            {% include 'ticaretSitesi/partials/_lowprice.html' %}
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
</div>
    
    {% endblock content %}


