{% extends 'layout.html' %}

{% load static %}

{% block page_title %}
    Search
{% endblock %}

{% block css_files %}
    <link rel="stylesheet" href="{% static 'ticaretSitesi/css/style.css' %}">
{% endblock %}

{% block content %}

    <div class="container mt-3">
        <div class="row">
            <div class="col-3 ">
                {% include 'ticaretSitesi/partials/_categories.html' %}                
            </div>
            <div class="col-9 ">
                {% if products|length == 0 %}
                <p>olmadı</p>
                    <div class="alert alert-warning">No Product.</div>
                {% endif %}
                
                {% for product in products %}
                <p>oldu</p>
                        {% include 'ticaretSitesi/partials/_product.html' %}
                {% endfor %}

            </div>
        </div>
    </div>

{% endblock content %}