<nav class="navbar navbar-expand-lg  navbar-dark" style="background-color: #490e70;">
    <div class = "container">
        <a href="/" class="navbar-brand">E-Commarce</a>
        <ul class="navbar-nav me-auto">
            <li class="nav-item">
                <a href="/products" class="nav-link">Products</a>
            </li>
            <li class="nav-item">
                <a href="/elektronics" class="nav-link">Elektronics</a>
            </li>
            <li class="nav-item">
                <a href="/personalcare" class="nav-link">Personel Care Products</a>
            </li>
            <li class="nav-item">
                <a href="/computer" class="nav-link">Computer</a>
            </li>
            <li class="nav-item">
                <a href="hobbies" class="nav-link">Hobbies </a>
            </li>
            <li class="nav-item">
                <a href="/about" class="nav-link">About</a>
            </li>
            <li class="nav-item">
                <a href="/basket" style="border:6px dashed white; border-radius:15px;" class="nav-link">My Basket</a>
            </li>
        </ul>

        <form class="d-flex" action="#">
            <input class = "form-control me-1" type="text" name="q" placeholder = "What are you looking for?">
            <button type="submit" class="btn btn-secondary">Search</button>
        </form>
    </div>
</nav>
