*{
    box-sizing: border-box;
}
body{
    background-color: #006994;
}

.errorlist {
    list-style: none;
    color: darkviolet;
    margin: 0;
    padding: 0;
}

.invalid input, .invalid textarea{
    border-color:crimson;
}
.columnfor4{
    border-radius: 12px;
    border: 2px solid red;
    width: 25%;
    height: 25%;
    background-color: rgb(19, 19, 19);
    float: left;
    padding: 15px;
}
.row:after {
    content: "";
    display: table;
    clear: both;
  }

.imgclass{
    width: 100px;
    height: 100px;
}